
<head>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>

	<div>
		<ul>
			<li><a href="/" target="_blank">Home</a></li>
			<li><a href="/calculator">Calculator</a></li>
			<li><a href="/coin_changer">Coin Changer</a></li>
			<li><a href="http://www.minedminds.org" target="_blank">Mined Minds</a></li>
		</ul>
	</div>
    <div class="main">

        <%=yield%>

    </main>
    
    <footer>
        <a href="mined_minds.org">Mined Minds</a>
    </footer>

</body>
                          